@inherits LayoutComponentBase
<div class="page">


    <main>

        <article style="padding-right:0!important; padding-left:0!important;">
            @Body
        </article>
    </main>

    <div class="footer">
        <Footer />
    </div>
</div>
